html,
body {
  font-family: 'Heebo', sans-serif;
}

.nav-border-top {
  border-top: 3px solid #1ae0ec;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-item a {
  font: normal normal normal 25px/37px Heebo;
}

.nav-item a:hover {
  color: #1ae0ec;
}

.top-heading {
  font: normal normal 900 80px/118px Heebo;
  color: #3a3a3a;
}

.top-description {
  font: normal normal bold 20px/30px Heebo;
  color: #3a3a3a;
}

.tech {
  box-shadow: 0px 3px 6px #00000029;
  height: 13vh;
}

.tech img {
  width: 100px;
  height: 100px;
}

#about {
  height: 71vh;
  width: 40vw;
}

#about img {
  margin-bottom: 24px;
}

#about h1 {
  font: normal normal 900 35px/52px Heebo;
  color: #3a3a3a;
}

#about p {
  font: normal normal normal 20px/29px Heebo;
  color: #3a3a3a;
}

#about button {
  background: #1ae0ec 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 25px;
  width: 260px;
  height: 41px;
}

#about a {
  font: normal normal bold 20px/30px Heebo;
  letter-spacing: 0.3px;
  color: #3a3a3a;
}

#projects {
  height: 140vh;
  text-align: center;
}

#js-projects {
  height: 140vh;
  text-align: center;
}

.project-section {
  height: 100%;
  padding: 100px 300px;
}

.project-section h1 {
  font: normal normal 900 36px/53px Heebo;
  color: #3a3a3a;
}

div .card {
  width: 20rem;
  height: 435px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 15px #00000029;
  border-radius: 10px;
  border: none;
  margin: auto;
}

.card .card-body {
  margin-top: 50px;
  direction: rtl;
}

.card-body h5 {
  font: normal normal medium 23px/34px Heebo;
  color: #3a3a3a;
}

.card-body p {
  font: normal normal normal 16px/24px Heebo;
  color: #3a3a3a;
}

.card-body a {
  background: #1ae0ec 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 15px;
  font: normal normal bold 14px/26px Heebo;
  color: #2c2c2c;
  margin-top: 10px;
}

#contact {
  background: #3a3a3a 0% 0% no-repeat padding-box;
  height: 95vh;
  display: flex;
  align-items: center;
  direction: rtl;
  position: relative;
}

#contact img {
  position: absolute;
  top: 0;
  width: 40%;
}

#contact .container {
  height: 60%;
  width: 30%;
  margin-right: 15vw;
}

.form-heading {
  font: normal normal 900 36px/53px Heebo;
  color: #ffffff;
}

.form-paragraph {
  font: normal normal normal 20px/29px Heebo;
  color: #ffffff;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form-input label {
  font: normal normal bold 16px/24px Heebo;
  color: #ffffff;
}

.form-input input {
  width: 450px;
  height: 40px;
  border: none;
  border-bottom: 4px solid #1ae0ec;
}

.form button {
  width: 150px;
  height: 40px;
  background: #1ae0ec;
  border: none;
  border-radius: 25px;
  font: normal normal 900 20px/30px Heebo;
  letter-spacing: 0.33px;
  color: #2c2c2c;
  margin-top: 40px;
}

.footer {
  background: #000000;
  height: 51px;
  font: normal normal normal 20px/29px Heebo;
  color: #1ae0ec;
}

@media (max-width: 1279px) {
  #about {
    height: auto;
    width: fit-content;
    height: auto;
    padding: 30px;
  }

  #projects {
    height: auto;
  }

  #js-projects {
    height: auto;
  }

  #contact {
    height: auto;
    padding-top: 10vh;
  }
}

@media (max-width: 768px) {
  .top-heading {
    font: normal normal 900 46px/67px Heebo;
  }

  .top-description {
    font: normal normal normal 15px/25px Heebo;
  }

  .tech {
    height: 11vh;
  }

  .tech img {
    width: 45px;
    height: 45px;
  }

  #about {
    margin-top: 24px;
    margin-bottom: 24px;
    height: auto;
    width: 75vw;
    padding: 200px 0;
  }

  #about h1 {
    font: normal normal 900 25px/37px Heebo;
    color: #3a3a3a;
  }

  #about p {
    font: normal normal normal 15px/22px Heebo;
    color: #3a3a3a;
  }

  #about button {
    border-radius: 15px;
    width: 135px;
    height: 32px;
  }

  #about a {
    font: normal normal bold 12px/21px Heebo;
    color: #2c2c2c;
  }

  #contact {
    height: auto;
  }
  #contact .container {
    padding-bottom: 100px;
    height: 60%;
    width: 80%;
    margin-right: 0;
    margin: auto;
  }

  .form-heading {
    margin-top: 100px;
    font: normal normal 900 25px/37px Heebo;
    color: #ffffff;
  }

  .form-paragraph {
    font: normal normal normal 15px/22px Heebo;
    color: #ffffff;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .form-input label {
    font: normal normal bold 16px/24px Heebo;
    color: #ffffff;
  }

  .form-input input {
    width: 100%;
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-bottom: 4px solid #1ae0ec;
  }

  .form button {
    width: 94px;
    height: 28px;
    background: #1ae0ec;
    border: none;
    border-radius: 25px;
    font: normal normal bold 15px/30px Heebo;
    letter-spacing: 0.33px;
    color: #2c2c2c;
    margin-top: 40px;
  }

  .footer {
    height: 29px;
  }

  .footer div {
    font: normal normal 300 9px/13px Heebo;
  }
}
@media (max-width: 480px) {
  .top-heading {
    font: normal normal 900 36px/52px Heebo;
  }

  .top-description {
    font: normal normal normal 12px/18px Heebo;
  }

  .tech {
    height: 9vh;
  }

  .tech img {
    width: 35px;
    height: 35px;
  }

  #about {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70vh;
    width: 80vw;
  }

  #about h1 {
    font: normal normal 900 20px/30px Heebo;
    color: #3a3a3a;
  }

  #about p {
    font: normal normal normal 12px/18px Heebo;
    color: #3a3a3a;
  }

  #about button {
    border-radius: 10px;
    width: 120px;
    height: 28px;
  }

  #about a {
    font: normal normal bold 10px/18px Heebo;
    color: #2c2c2c;
  }

  #contact {
    height: auto;
  }

  #contact .container {
    padding-bottom: 80px;
    height: 60%;
    width: 90%;
    margin-right: 0;
    margin: auto;
  }

  .form-heading {
    margin-top: 80px;
    font: normal normal 900 20px/30px Heebo;
    color: #ffffff;
  }

  .form-paragraph {
    font: normal normal normal 12px/18px Heebo;
    color: #ffffff;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .form-input label {
    font: normal normal bold 14px/20px Heebo;
    color: #ffffff;
  }

  .form-input input {
    width: 100%;
    height: 30px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-bottom: 4px solid #1ae0ec;
  }

  .form button {
    width: 80px;
    height: 24px;
    background: #1ae0ec;
    border: none;
    border-radius: 20px;
    font: normal normal bold 12px/20px Heebo;
    letter-spacing: 0.33px;
    color: #2c2c2c;
    margin-top: 30px;
  }

  .footer {
    height: 25px;
  }

  .footer div {
    font: normal normal 300 8px/12px Heebo;
  }
}
